{% extends "base.html" %}
{% block content %}
<h2>New Booking</h2>
<div class="card p-4">
<form method="post" action="/bookings/add">
<label>Customer</label>
<select class="form-select mb-3" name="customer_id" required>
{% for c in customers %}<option value="{{c.customer_id}}">{{c.customer_name}}</option>{% endfor %}
</select>
<label>Available Room</label>
<select class="form-select mb-3" name="room_id" required>
{% for r in rooms %}<option value="{{r.room_id}}">Room {{r.room_number}} - {{r.room_type}} - ₹{{r.price_per_night}}</option>{% endfor %}
</select>
<label>Check In</label><input class="form-control mb-3" type="date" name="check_in" required>
<label>Check Out</label><input class="form-control mb-3" type="date" name="check_out" required>
<button class="btn btn-success">Create Booking</button>
</form>
</div>
{% endblock %}
